%% -*- mode: erlang -*-

{plugins, [rebar_elixir_compiler]}.

{lib_dirs, ["deps","deps/elixir/lib/elixir/ebin"]}.

{deps, [
    {elixir, ".*", {git, "git://github.com/elixir-lang/elixir", "master"}},
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
    {gproc, ".*", {git, "git://github.com/esl/gproc.git", "master"}}
]}.
